<div class="comments">
  <div id="disqus_thread"></div>
</div>

<script>
  var disqus_url = 'http://markgoodyear.com{{ page.url }}';
  var disqus_title = '{{ page.title }}';
  var disqus_shortname = 'markgoodyear';

  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
