<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{site.title}}</title>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% elsif page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <script async type="text/javascript" src="//use.typekit.net/fya5ecf.js"></script>
  <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
