<ul class="post-list">
  {% for post in include.collection limit: include.limit %}
    <li class="post-list__item">
      <h2 class="post-list__title  gamma">
      {% if include.collection == site.posts %}
        <a class="post-list__link" href="{{ post.url }}">{{ post.title }}</a>
      {% elsif include.collection == site.projects %}
        <a class="post-list__link" href="{{ post.labs }}">{{ post.title }}</a>
      {% endif %}
      </h2>

    {% if include.collection == site.posts %}
      <span class="post-list__meta  post__meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.updated %}<small class="post__updated">Updated {{ post.updated | date: "%b %-d, %Y" }}</small>{% endif %}
    {% elsif include.collection == site.projects %}
      <span class="post-list__meta  post__meta">{{ post.excerpt }}</span>
    {% endif %}
    </li>
  {% endfor %}
</ul>
