.callout {
  display: block;
  float: left;
  width: 100%;
  margin: rem($base-spacing-unit--half) 0 rem($base-spacing-unit--double);
  background: palette(secondary);
  color: palette(grey, light);
  padding: rem($base-spacing-unit);
  border-radius: 3px;

  a {
    color: #fff;
  }

  &--info {
    background-color: #fff6bf;
    color: darken(#fff6bf, 60%);
  }

  &--center {
    text-align: center;
  }

  &--small {
    @include font-size(16px, false);
    padding: rem($base-spacing-unit--half);
    margin: 0 0 rem($base-spacing-unit);
  }
}
