.post-list {
  list-style: none;
  margin-left: 0;

  &__item {
    margin-bottom: rem($base-spacing-unit);
    padding-bottom: rem($base-spacing-unit);
    border-bottom: 1px solid palette(grey, x-light);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__title {
    margin-bottom: rem(5px);
  }
}

.post__meta {
  color: palette(grey, mid-dark);
}

.post__updated {
  vertical-align: middle;
  font-size: rem(12px);
  margin-left: 5px;
  padding: 4px 8px;
  border-radius: 3px;
  // background: palette(grey, x-light);
  background-color: #fff6bf;
  color: darken(#fff6bf, 60%);
}
