.section--pad {
  margin-bottom: rem($base-spacing-unit--double);
}

.section-title {
  @include font-size($h6-size);
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid palette(grey, x-light);
  margin-bottom: rem($base-spacing-unit);
  color: palette(grey);
}
