.sidebar {
  @include font-size(16px, false);
  position: fixed;
  top: 0;
  // font-family: $font-secondary;
  text-align: center;
  width: rem($sidebar-width);
  background: palette(primary);
  height: 100%;
  z-index: 100;

  @include media($xlarge) {
    // width: rem($sidebar-width--narrow);
    // height: 60px;
    // bottom: auto;
  }

  @include media($large) {
    position: static;
    font-size: 1rem;
    width: 100%;
  }

  a {
    color: #fff;
  }
}

.profile {
  @include font-size(18px, false);
  padding: rem($base-spacing-unit) rem(20px);
  border-bottom: 1px solid palette(primary, light);
  color: #fff;

  @include media($large) {
    padding: rem($base-spacing-unit--half);
  }

  &__img {
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: rem($base-spacing-unit--half);

    @include media($large) {
      width: 60px;
      margin-bottom: 0;
    }
  }

  &__detail {
    margin-bottom: rem($base-spacing-unit--half);
  }
}
