a {
  &,
  &:visited {
    text-decoration: none;
    color: palette(primary);
    transition-property: border-bottom, background, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
}

a:not(.nav__link):not(.btn) {
  &,
  &:visited {
    border-bottom: 2px solid rgba(255,255,255,0);
  }

  &:active,
  &:hover,
  &:focus {
    border-bottom-color: palette(primary);
  }
}
